:root {
  --primary-red-color: #ffb3b6;
  --on-primary-container: #f42f54;
  --cinema-gold: #ffb95f;
  --gold-dark: #ee9800;
  --surface: #0b1326;
  --surface-low: #131b2e;
  --main-text-color: #94a3b8;

  --button-gradient: linear-gradient(
    to right,
    var(--primary-red-color),
    var(--on-primary-container)
  );
}

.movie_details {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  gap: 80px;
}

.movie_details_hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85dvh;

  overflow: hidden;
}

.movie_details_hero .movie_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 20, 0.9),
    rgba(0, 0, 20, 0.4)
  );
  z-index: 2;
}
.movie_details_hero .hero_details {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 3;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.movie_details_hero .hero_details span {
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  background-color: var(--cinema-gold);
  color: var(--surface);
  border-radius: 6px;
  margin-bottom: 5px;
  width: fit-content;
}

.movie_details_hero .hero_details h1 {
  font-size: 56px;
  font-weight: bolder;
  letter-spacing: -1.8px;
  margin-bottom: 5px;
  color: whitesmoke;
  max-width: 60%;
}

.movie_details_hero .hero_details .movie_direct {
  display: flex;
  gap: 1rem;
  font-size: 16px;
  font-weight: 700;
}
.movie_details_hero .hero_details .movie_direct .director {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.movie_details_hero .hero_details .movie_direct .director .icon {
  font-size: 16px;
  color: var(--primary-red-color);
}

.movie_details_hero .hero_details .movie_direct .director .director_name {
  background-color: transparent;
  color: var(--cinema-gold);
  font-size: 14px;
  margin: 0;
  border: none;
}

.movie_details_hero .hero_details .movie_direct p {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-text-color);
}

.movie_details_hero .hero_details .movie_direct .movie_rating {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: var(--cinema-gold);
}

.movie_details_hero .hero_details .movie_direct .movie_rating p {
  color: var(--gold-dark);
}

.movie_details_hero .hero_details .btns {
  display: flex;
  gap: 16px;
  align-items: center;
}
.movie_details_hero .hero_details .btns .trailer_btn {
  display: flex;
  align-items: center;

  gap: 12px;
  padding: 17px 32px;
  font-weight: bold;
  border-radius: 20px;
  background-image: var(--button-gradient);
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.movie_details_hero .hero_details .btns .trailer_btn .play_btn {
  font-size: 16px;
}
.movie_details_hero .hero_details .btns .trailer_btn:hover {
  transform: translateY(-2px);
}

.movie_details_hero .hero_details .btns .favorite_btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 32px;
  font-weight: bold;
  border-radius: 20px;
  color: var(--main-text-color);
  background-color: var(--surface);
  border: solid 1px var(--surface-low);
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.movie_details_hero .hero_details .btns .favorite_btn:hover {
  transform: translateY(-2px);
}

.movie_details_hero .hero_details .btns .favorite_btn .heart_btn {
  font-size: 20px;
}

/* Movie Details Layout */
.movie_details_layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 64px;
  margin: auto;
  padding: 1.5rem 2rem;
}

.left_col {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.synopsis_section {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.section_header {
  display: flex;
  align-items: center;
}

.section_header span {
  font-size: 12px;
  letter-spacing: 2px;
  color: #aaa;
  white-space: nowrap;
}

.line_left {
  flex: 1;
  height: 1px;
  background: linear-gradient(to right, var(--primary-red-color), transparent);
}

.synopsis_text {
  font-size: 24px;
}

/* Review card */
.review_card {
  padding: 56px;
  background-color: var(--surface);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head_profile {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: start;
}
.profile_image {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  object-fit: contain;
  border: 1px solid var(--gold-dark);
}

.profile_details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.profile_details h4 {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-text-color);
}
.profile_details p {
  font-size: 14px;
  font-weight: 600;
  color: var(--cinema-gold);
}

.stars_rating {
  display: flex;
  gap: 4px;
  color: var(--gold-dark);
  padding-top: 8px;
}

.review_card h3 {
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}

.full_review {
  font-size: 16px;
  color: var(--main-text-color);
  line-height: 26px;
}

/* Right col */
.right_col {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.line_right {
  flex: 1;
  height: 1px;
  background: linear-gradient(to left, var(--primary-red-color), transparent);
}

.cast_actors {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cast_actors img {
  border: 1px solid var(--cinema-gold);
  border-radius: 16px;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.actor_details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: whitesmoke;
}

/* Trailer */
.trailer_modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.trailer_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.trailer_content {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 80px auto;
  z-index: 10000;
}
