@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Hero Section */
.hero_section {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  justify-items: center;
}
/* Header Text */
.header_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.header_text h1 {
  color: var(--main-text-color);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
.header_text h1 span {
  color: var(--primary-red-color);
}

.header_text h1 {
  color: var(--main-text-color);
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 0;
}
.header_text > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--main-text-color);
  text-align: center;
}

/* Buttons */
.header_text .btns_activity {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.header_text .btns_activity .btns {
  display: flex;
  gap: 1rem;
}
.header_text .btns_activity .btns .all_cinema_btn {
  background-color: var(--primary-red-color);
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: 700;
  color: var(--surface-low);
  cursor: pointer;
}
.header_text .btns_activity .btns .my_library_btn {
  color: var(--main-text-color);
  font-weight: 700;
  padding: 8px 24px;
  background-color: #131b2e;
  cursor: pointer;
}
.header_text .btns_activity .badge {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--gold-dark);
  padding: 8px 16px;
  width: fit-content;
  gap: 8px;
}

.header_text .btns_activity .badge span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--cinema-gold);
  border-radius: 50%;
  position: relative;
  box-shadow:
    0 0 8px var(--cinema-gold),
    0 0 16px var(--gold-dark),
    0 0 30px rgba(255, 185, 95, 0.4);
  flex-shrink: 0;
}
.header_text .btns_activity .badge p {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 4px rgba(238, 152, 0, 0.3);
}

/* Hero Grid */
.hero_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1400px;
  margin: 48px auto 0 auto;
}

.secondary_column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.small_cards_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.main_featured {
  border-radius: 24px;
  min-height: 450px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 32px;
  position: relative;
}
.hero_bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(11, 19, 38, 0.9),
    rgba(11, 19, 38, 0.2)
  );
  z-index: 2;
}

.grid_badge {
  display: flex;
  gap: 4px;
}

.card_content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card_content .badges_row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card_content .badges_row .featured_badge {
  padding: 4px 12px;
  background-color: var(--secondary-color);
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
}
.card_content .badges_row .rating_badge {
  padding: 4px 12px;
  color: var(--cinema-gold);
  background-color: #403831;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
}
.card_content .badges_row .star_icon {
  font-size: 10px;
}

.card_content h2 {
  font-family: "Manrope", sans-serif;
  color: #dae2fd;
  font-weight: bold;
}
.card_content p {
  text-shadow: 1px 0px 10px rgba(60, 29, 29, 0.81);
}

.card_content .view_btn {
  margin-top: 16px;
  padding: 12px 32px;
  max-width: fit-content;
  color: #68001a;
  background-image: var(--button-gradient);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.card_content .view_btn:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}

.secondary_column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.small_cards_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
}

@media (max-width: 600px) {
  .small_cards_wrapper {
    grid-template-columns: 1fr;
  }
}
.small_cards_wrapper .small_card_auteur {
  position: relative;
  width: 100%;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card_bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 10px;
}

.card_overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 24px;
  color: whitesmoke;

  background: linear-gradient(
    to top,
    rgba(11, 19, 38, 0.9),
    rgba(11, 19, 38, 0.2)
  );
}

.small_cards_wrapper .small_card_auteur p {
  font-size: 12px;
  margin-top: 5px;
}

.secondary_column .ai_search_box {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}
.secondary_column .ai_search_box h3 {
  color: var(--primary-red-color);
}
.secondary_column .ai_search_box p {
  font-size: 14px;
}
.secondary_column .ai_search_box .search_input_container {
  display: flex;
  background-color: var(--surface-low);
  justify-content: space-between;
  padding: 14px 6px 14px 24px;
  border-radius: 12px;
}
.secondary_column .ai_search_box .search_input_container input {
  background-color: transparent;
  color: white;
  width: 90%;
}

.secondary_column .ai_search_box .search_input_container .ai_icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-red-color);
  padding: 8px;
  border-radius: 12px;
  color: var(--on-primary-container);
  font-size: 16px;
  cursor: pointer;
}
