.article_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
  background-color: var(--secondary-color);
  margin-bottom: 48px;
  text-align: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .article_form {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}

.article_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  justify-content: start;
  color: whitesmoke;
}

.sub_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub_form .subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) {
  .sub_form .subscribe {
    display: flex;
    flex-direction: row;
  }
}

.sub_form .subscribe input {
  padding: 18px 24px;
  overflow: auto;
  border-radius: 12px;
  background-color: var(--surface-low);
  color: white;
}

.sub_form .subscribe .sub_btn {
  padding: 16px 32px;
  border-radius: 12px;
  background-image: var(--button-gradient);
  font-weight: 600;
  cursor: pointer;
}
